# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# IntelliJ IDEA files
.idea/
*.iws
*.iml
*.ipr

# VS Code files
.vscode/

# macOS files
.DS_Store

# Windows files
Thumbs.db
ehthumbs.db
target/
dependency-reduced-pom.xml